<?xml version="1.0" encoding="utf-8"?>
<!--
  C++ には C#の App.config 相当は無いので、勝手に作ろうぜ☆（＾～＾）？
  References: https://www.codeproject.com/Articles/21036/Working-with-Configuration-Files-app-config-in-C-C
  - Project
    - Property
      - Configuration Properties
        - Build Events
          - Post-Build Event
            - Command line
              - `copy app.config "$(TargetPath).config"`
-->
<configuration>
  <appSettings>
    <add key="Profile" value="../../Profile"/>
  </appSettings>
</configuration>